
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Vitatrack Health System</title>
    <link rel="stylesheet" href="css/auth.css">
</head>

<body>
    <header>
        <div class="utility-bar">
            <div class="logo">VitaTrack</div>
            <ul class="utility-links">
                <li><a href="/">Home</a></li>
                <li><a href="./account">My Account</a></li>
                <li><a href="#settings">Settings</a></li>
                <li><a href="./about">About</a></li>
                <li><a href="./help">Help</a></li>
            </ul>
        </div>
    </header>
<div class="appointment-container">
    <h1 class="appointment-title">Schedule Appointment</h1>
    <form action="#" method="POST" th:action="@{/book-appointment}" id="appointmentForm" th:object="${appointment}">
        <div class="provider-group" id="providers">
            <h3>Select your Provider:</h3>
            <div th:each="doctor : ${providers}">
                <input id = "providerId" name = "providerId" type="checkbox"
                       th:value="${doctor.getId()}"/>
                <span th:text="${doctor.getFirstName() + ' ' + doctor.getLastName()}">PROVIDER</span><br/>
            </div>
        </div>

        <div class="patient-group" id="patients">
            <h3>Select your Patient:</h3>
            <div th:each="patient : ${patients}">
                <input id = "patientId" name = "patientId" type="checkbox"
                        th:value="${patient.getId()}"/>
                <span th:text="${patient.getFirstName() + ' ' + patient.getLastName()}">PATIENT</span><br/>
            </div>
        </div>

        <label for="appointmentDate">Date: </label>
        <input type="date" th:field="*{appointmentDate}"/><br/>

        <label for="startTime">Start Time: </label>
        <input type="time" th:field="*{startTime}"/><br/>

        <label for="endTime">End Time: </label>
        <input type="time" th:field="*{endTime}"/><br/>


        <input type="submit" value="Submit"/>
    </form>
</div>
</body>
</html>