<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>VitaTrack Health System</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <div class="welcome-banner">
        <h1>Welcome to VitaTrack Health System</h1>
        <p>Your comprehensive healthcare management platform.</p>
    </div>
    <header>
        <div class="utility-bar">
            <div class="logo">VitaTrack</div>
            <ul class="utility-links">
                <li><a href="/">Home</a></li>
                <li><a href="./account">My Account</a></li>
                <li><a href="#settings">Settings</a></li>
                <li><a href="./about">About</a></li>
                <li><a href="./help">Help</a></li>
            </ul>
        </div>
    </header>
    <main>
        <div class="card-container">
            <div class="card">
                <h2>For Patients</h2>
                <img th:src="@{/images/patients.jpg}" alt="Family in doctor's office" class="section-image">
                <p>Easily manage your health appointments and records.</p>
                <a href="./schedule-appointment">
                    <button id="scheduleAppointment">Schedule Appointment</button>
                </a>
            </div>
            <div class="card">
                <h2>For Healthcare Providers</h2>
                <img th:src="@{/images/providers.jpg}" alt="Healthcare providers with technology" class="section-image">
                <p>Access and manage patient information efficiently.</p>
                <a href="./patient-select">
                    <button id="managePatients">Manage Patients</button>
                </a>
                
            </div>
            <div class="card">
                <h2>For Administrative Staff</h2>
                <img th:src="@{/images/staff.jpg}" alt="Administrative staff at work" class="section-image">
                <p>Streamline billing and insurance management.</p>
                <a href="./view-bills">
                    <button id="manageBilling">Manage Billing</button>
                </a>
            </div>
        </div>
        
        
    </main>
    <script src="/scripts/script.js"></script>
</body>
</html>
