<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="css/auth.css">
</head>

<body>
    <header>
        <div class="utility-bar">
            <div class="logo">VitaTrack</div>
            <ul class="utility-links">
                <li><a href="http://localhost:8080">Home</a></li>
                <li><a href="login.html">My Account</a></li>
                <li><a href="#settings">Settings</a></li>
                <li><a href="#contact">Contact</a></li>
                <li><a href="#help">Help</a></li>
            </ul>
        </div>
    </header>

    <div class="login-header">
        <h1>Login</h1>
        <p>New here? Click <a href="http://localhost:8080/register">here</a> to register.</p>
    </div>
    
    <div th:if="${error}" class="error-message">
        Unable to login. Check your username and password.
    </div>

    <form method="POST" th:action="@{/login}" id="loginForm">
        <label for="username">Username: </label>
        <input type="text" name="username" id="username"/><br/>
        
        <label for="password">Password: </label>
        <input type="password" name="password" id="password"/><br/>
        
        <input type="submit" value="Login"/>
    </form>

    <script src="/scripts/script.js"></script>
</body>
</html>
