<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Vitatrack Health System</title>
</head>

    <body>
        <h1>Register</h1>
        <img th:src="@{/images/patients.jpg}" alt="Family in doctor's office">
        
        <form method="POST" th:action="@{/create-patient}" id="registerForm">
        
            <label for="username">Username: </label>
            <input type="text" name="username"/><br/>

            <label for="password">Password: </label>
            <input type="password" name="password"/><br/>

            <label for="confirm">Confirm password: </label>
            <input type="password" name="confirm"/><br/>

            <label for="firstName">First name: </label>
            <input type="text" name="firstName"/><br/>

            <label for="lastName">Last name: </label>
            <input type="text" name="lastName"/><br/>
        
            <label for="paymentCardNumber">Payment Card Number: </label>
            <input type="text" name="paymentCardNumber"/><br/>
        
            <label for="ccCVV">CVV: </label>
            <input type="text" name="ccCVV"/><br/>
        
            <label for="ccExpiration">Expiration: </label>
            <input type="text" name="ccExpiration"/><br/>
        
            <label for="insuranceProvider">Insurance Provider: </label>
            <input type="text" name="insuranceProvider"/><br/>
        
            <label for="insuranceNumber">Insurance Number: </label>
            <input type="text" name="insuranceNumber"/><br/>
        
            <input type="submit" value="Register"/>
        </form>
        
    </body>
</html>