
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Vitatrack Health System</title>
  <link rel="stylesheet" href="css/auth.css">
</head>

<body>
<div class="patient-container">
  <h1 class="patient-title">Patient Select</h1>
  <form action="#" method="POST" th:action="@{/patient-choice}" id="patientForm" th:object="${patients}">

    <div class="patient-group" id="patients">
      <h3>Select your Patient:</h3>
      <div th:each="patient : ${patients}">
        <input id = "patientId" name = "patientId" type="checkbox"
               th:value="${patient.getId()}"/>
        <span th:text="${patient.getFirstName() + ' ' + patient.getLastName()}">PATIENT</span><br/>
      </div>
    </div>

    <input type="submit" value="Submit"/>
  </form>
</div>
</body>
</html>