
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Vitatrack Health System</title>
  <link rel="stylesheet" href="css/auth.css">
</head>

<body>
  <header>
    <div class="utility-bar">
        <div class="logo">VitaTrack</div>
        <ul class="utility-links">
            <li><a href="/">Home</a></li>
            <li><a href="./account">My Account</a></li>
            <li><a href="#settings">Settings</a></li>
            <li><a href="./about">About</a></li>
            <li><a href="./help">Help</a></li>
        </ul>
    </div>
  </header>
<div class="patient-container">
  <h1 class="patient-title">Patient Select</h1>
  <form action="#" method="POST" th:action="@{/patient-choice}" id="patientForm" th:object="${patients}">

    <div class="patient-group" id="patients">
      <h3>Select Patient to View Appointments:</h3>
      <div th:each="patient : ${patients}">
        <input class="patient-checklist" id = "patientId" name = "patientId" type="checkbox"
               th:value="${patient.getId()}"/>
        <span th:text="${patient.getFirstName() + ' ' + patient.getLastName()}">PATIENT</span><br/>
      </div>
    </div>

    <input type="submit" value="Submit"/>
  </form>

    <form action="#" method="POST" th:action="@{/patient-records}" id="patientRecordsForm" th:object="${patients}">

        <div class="patient-group" id="patientsRecord">
            <h3>Select Patient to View Records:</h3>
            <div th:each="patient : ${patients}">
                <input id = "patientIdRecord" name = "patientIdRecord" type="checkbox"
                       th:value="${patient.getId()}"/>
                <span th:text="${patient.getFirstName() + ' ' + patient.getLastName()}">PATIENT</span><br/>
            </div>
        </div>

        <input type="submit" value="Submit"/>
    </form>
    <script src="/scripts/script.js"></script>
</div>
</body>
</html>