
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Vitatrack Health System</title>
  <link rel="stylesheet" href="css/auth.css">
</head>

<body>
<header>
  <div class="utility-bar">
    <div class="logo">VitaTrack</div>
    <ul class="utility-links">
      <li><a href="/">Home</a></li>
      <li><a href="./account">My Account</a></li>
      <li><a href="#settings">Settings</a></li>
      <li><a href="./about">About</a></li>
      <li><a href="./help">Help</a></li>
    </ul>
  </div>
</header>
<div class="bill-container">
  <h1 class="bill-title">Records</h1>
  <table style="width:100%">
    <tr>
      <th>Chart Id</th>
      <th></th>
      <th>Country</th>
    </tr>
    <tr>
      <td>Alfreds Futterkiste</td>
      <td>Maria Anders</td>
      <td>Germany</td>
    </tr>
    <tr>
      <td>Centro comercial Moctezuma</td>
      <td>Francisco Chang</td>
      <td>Mexico</td>
    </tr>
  </table>
</div>
</body>
</html>